/* estedad */
@font-face {
    font-family: "estedad";
    font-weight: 100;
    src: url(assets/fonts/Estedad/ttf/Estedad-Light.ttf);
}

@font-face {
    font-family: "estedad";
    font-weight: 200;
    src: url(assets/fonts/Estedad/ttf/Estedad-Black.ttf);
}

@font-face {
    font-family: "estedad";
    font-weight: 300;
    src: url(assets/fonts/Estedad/ttf/Estedad-Regular.ttf);
}

@font-face {
    font-family: "estedad";
    font-weight: 400;
    src: url(assets/fonts/Estedad/ttf/Estedad-Medium.ttf);
}

@font-face {
    font-family: "estedad";
    font-weight: 500;
    src: url(assets/fonts/Estedad/ttf/Estedad-Bold.ttf);
}

@font-face {
    font-family: "estedad";
    font-weight: 600;
    src: url(assets/fonts/Estedad/ttf/Estedad-SemiBold.ttf);
}

/* shabnam */
@font-face {
    font-family: "shabnam";
    font-weight: 100;
    src: url(assets/fonts/shabnam/Shabnam-Light-FD.ttf);
}

@font-face {
    font-family: "shabnam";
    font-weight: 300;
    src: url(assets/fonts/shabnam/Shabnam-FD.ttf);
}

@font-face {
    font-family: "shabnam";
    font-weight: 400;
    src: url(assets/fonts/shabnam/Shabnam-Medium-FD.ttf);
}

@font-face {
    font-family: "shabnam";
    font-weight: 500;
    src: url(assets/fonts/shabnam/Shabnam-Bold-FD.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "estedad";
}


.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px;
    width: auto;
}
.my-masonry-grid_column {
    padding-left: 30px; 
    background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
    margin-bottom: 16px;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 0;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c9c9c9; 
    border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}