@font-face {
    font-family: "estedad";
    src: 
    url(assets/fonts/Estedad/ttf/Estedad-Black.ttf),
     url(assets/fonts/Estedad/ttf/Estedad-Bold.ttf),
     url(assets/fonts/Estedad/ttf/Estedad-Light.ttf),
     url(assets/fonts/Estedad/ttf/Estedad-Medium.ttf),
     url(assets/fonts/Estedad/ttf/Estedad-Regular.ttf),
     url(assets/fonts/Estedad/ttf/Estedad-SemiBold.ttf),
     url(assets/fonts/Estedad/ttf/Estedad-SemiBold.ttf),
}

@font-face {
    font-family: "shabnam";
    src: 
    url(assets/fonts/shabnam/Shabnam-Bold-FD.ttf),
    url(assets/fonts/shabnam/Shabnam-Light-FD.ttf),
    url(assets/fonts/shabnam/Shabnam-Medium-FD.ttf),
    url(assets/fonts/shabnam/Shabnam-FD.ttf),
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}